<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>

<nav class="nav navbar navbar-expand-lg navbar-light " style="background-color: #68a5d1;">
    <a class="navbar-brand" href="#" style="font-family: \'Courgette\', cursive;font-size: xx-large;">Grab Coupon</a>'
     <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span>' 
     </button> 
     <div class="collapse navbar-collapse" id="navbarText">
       <ul class="navbar-nav ml-auto">' 
         <li class="nav-item"> <a class="nav-link" href="#"><span style="color:whitesmoke;font-size: x-large;">Home</span></a>
         </li>
          <li class="nav-item"> <a class="nav-link" id="delbtn" href="#"><span style="color:whitesmoke;font-size: x-large;" (click)='deleteUser()' >DeleteUser</span></a>
        </li>
        <li class="nav-item needmargin"> <a class="nav-link" href="#"><span style="color:whitesmoke;font-size:x-large;">Subscription</span></a>
                 </li>
        <li class="nav-item needmargin"> 
         
        <a class="nav-link"> <span style="color:whitesmoke;font-size:x-large;" (click)='OnLogout()'>Logout</span></a>            
         </li>
       </ul>
     </div>
  </nav>
  <div class="profile-info">
    <div class="row">
    <div class="col-sm-6">
     <div class="card"> 
       <div class="card-body"> 
         <h5 class="card-title">Welcome </h5>
         <p class="card-text">You are subscribed for our Services</p>
         <a href="#" class="btn btn-primary">Explore more about new Services</a>
       </div>
     </div>
   </div> 
   <div class="col-sm-6">
     <div class="card">
       <div class="card-body" ngFor="let user of users">
         <h5 class="card-title">Profile Details: </h5>
         <p class="card-text">Name: {{users.firstname}} {{users.lastname}}</p> 
         <p class="card-text">Email: {{users.email}}</p>
         <p class="card-text">Contact Details: {{users.contact}}</p>
         <a class="btn btn-primary"><span style="color:whitesmoke;">Change Password</span></a> 
       </div>
     </div>
   </div> 
  </div>
 </div>